.container {
    width: 800px;
    height: 100vh;
    background: aquamarine;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    /*flex-flow: direction wrap */
    /*flex-flow: column wrap;*/
}

.container div {
    min-width: 100px;
    height: 100px;
    width: fit-content;
}

.red {
    background: red;
    /*align-self: flex-start;*/
    /*order: 3;*/
}
.green {
    background: green;
    /*order: 3;*/
}
.blue {
    background: blue;
}
.purple {
    background: purple;
    /*order: 2;*/
}
