.border1 {
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 10px -20px 20px 1px #a92d2d;
}
.border1::before {
    content: attr(text_before);
}
.border2 {
    border: 1px solid black;
    padding-left: 20px;
    /*
    width: 50vw;
    */
    width: min(50vw, 400px);
}
