:root{
    --bg-primary-color-1: hsl(200, 60%, 70%);
    --bg-primary-color-2: hsl(46, 48%, 52%);
    --bg-primary-color-3: hsl(45, 61%, 63%);
    --bg-primary-color-4: hsla(43, 32%, 54%);
    --bg-primary-color-5: hsl(230, 35%, 61%);
}
div{
    height: 120px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.class_1 {
    background: linear-gradient(60deg,var(--bg-primary-color-1) , var(--bg-primary-color-2));
}
.class_2 {
    background: radial-gradient(at 0%, var(--bg-primary-color-1) 40%, var(--bg-primary-color-2) 70%);
}
.class_3 {
    background: conic-gradient(var(--bg-primary-color-1) 120deg, var(--bg-primary-color-4) 115deg, var(--bg-primary-color-5) 200deg);
}