body{
    margin: 0;
    display: flex;
}
.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}
.purple {
    background: purple;
}
.container {
    display: flex;
    width: 33%;
    height: 120vh;
    background: aquamarine;
    flex-flow: wrap;
    align-items: flex-end;
    justify-content: flex-end;

}
.container-2 {
    display: flex;
    width: 33%;
    height: 120vh;
    background: yellow;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: 20px;


}
.container-3 {
    display: flex;
    width: 34%;
    height: 120vh;
    background: blueviolet;
    flex-flow: wrap column;
    align-content: space-around;
}
.container div{
    display: flex;
    min-width: 100px;
    height: 100px;
}

.container-2 div{
    display: flex;
    width: 100px;
    height: 100px;
}

.container-3 div{
    display: flex;
    width: 100px;
    height: 100px;
}