body {
    background: lightgoldenrodyellow;
}

* {
    font-family: 'Work Sans', sans-serif;
}

.form {
    background: #1d31a0;
    display: flex;
    justify-content: center;
    margin: 44px auto;
    border-radius: 12px;
    max-width: 1000px;
    padding: 20px 16px;
    flex-wrap: wrap;
    color: white;
}

.input-create {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 40px;
    padding: 8px 8px;
    margin-bottom: 20px;
}

.input-name {
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    padding: 16px;
}

.create-name {
    border-radius: 8px;
    /*border: none;*/
    width: 100%;
    max-width: 120px;
    outline: none;
}

.todo-parent {
    display: flex;
    justify-content: space-around;
}

.todo-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    min-width: 240px;
    align-items: center;
}

.todo-column-active {
    background: #6dc234;
}

.todo-column-on-hold {
    background: gold;
}

.todo-column-finished {
    background: seagreen;
}

.todo-column-canceled {
    background: #d3438b;
}

.todo-column h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.todo-items {
    width: 100%;
}

.todo-item {
    background: white;
    padding: 12px;
    border-radius: 8px;
    font-family: Amiri, serif;
    font-weight: bold;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    max-width: 300px;

}

.trash:hover {
    background: white;
    border: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #a9a9e5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 3;
    display: none; /* initially hidden */

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}