body{
    background: lightgoldenrodyellow;
}

.form{
    background: #1d31a0;
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: center;
    margin: 40px ;
    border-radius: 8px;
    /*width: 100%;*/
    /*max-width: 1000px;*/
}