:root {
    --bg-primary: red;
}
/*
    attr
    calc
    rgb
    rgba
    var
    hsl
    hsla

    max
    min
    linear-gradient
    radial-gradient

    conic-gradient
*/

div {
    height: 100px;
    width: 200px;
    /*background: var(--bg-primary);*/
    /*hue 0-360: 0|360-red, 120-green, 240-blue, saturation 0-100%: 0-gray 100%-full color, lightning: 0-100%: 0:black 100-white*/

    /*background: hsl(200, 60%, 70%);*/
    /*background: hsla(200, 60%, 70%, .7);*/

    /*background: linear-gradient(30deg, var(--bg-primary), yellow);*/

    /*background: radial-gradient(red 30%, yellow 70%);*/

    /*background: conic-gradient(red 50deg, yellow 120deg, blue 200deg);*/

    /*background: repeating-linear-gradient(var(--bg-primary) 10%, yellow 40%);*/

    /*background: repeating-radial-gradient(at 100%, red 10%, yellow 30%);*/
    margin-bottom: 10px;

    animation-name: waves;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
